<link href="__PUBLIC__admin/css/plugins/codemirror/codemirror.css" rel="stylesheet">
<link href="__PUBLIC__admin/css/plugins/codemirror/ambiance.css" rel="stylesheet">
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
<div class="col-sm-12">
<div class="ibox float-e-margins">
<div class="ibox-title">
    <h5>{$menuTitle}</h5>
</div>
<div class="ibox-content">

<div class="tab-content">
<!--基本配置-->
<div id="tab-1" class="tab-pane active">
<div class="panel-body">
<form class="form-horizontal" method="post" action="">
<div class="form-group">
    <label class="col-sm-1 control-label">接口分类名称</label>
    <div class="col-sm-6">
        <input type="text" class="form-control" name="data[class_name]"  value="{$info['class_name']}"  />
        <span class="help-block m-b-none"></span>
    </div>
</div>
<div class="hr-line-dashed"></div>

    <div class="form-group">
        <label class="col-sm-1 control-label">接口分类描述</label>
        <div class="col-sm-6">
            <textarea class="form-control" name="data[disc]">{$info['disc']}</textarea>
            <span class="help-block m-b-none"></span>
        </div>
    </div>
    <div class="hr-line-dashed"></div>

<input type="hidden" name="action" value="<?php echo $_GET['action'];?>"/>
<input type="hidden" name="id" value="<?php echo $info['id'];?>"/>
<div class="form-group">
    <div class="col-sm-4 col-sm-offset-1">
        <button class="btn btn-primary submitform"  type="button">确定</button>
        <button class="btn btn-white" type="button" onclick="javascript:window.history.go(-1);">返回</button>
    </div>
</div>
</form>
</div>
</div>
<!--基本配置 END-->

<!--扩展-->
<div id="tab-2" class="tab-pane">
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-4 ">
                    <button class="btn btn-primary" type="submit">确定</button>
                    <button class="btn btn-white" type="submit">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--扩展 END-->

</div>
</div>
</div>
</div>
</div>
</div>

