<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{$menuTitle}</h5>
                </div>
                <div class="ibox-content">
                    <!--操作start-->
                    <div class="row">
                        <div class="col-sm-9">
                            <button type="button" class="btn btn-w-m btn-primary" onClick="javascrtpt:window.location.href='{:url('edit',array('interface'=>$_GET['interface']))}'">新增&nbsp;<span class="glyphicon glyphicon-plus"></span></button>
                            <button type="button" class="btn btn-w-m btn-primary deleteall">删除&nbsp;<span class="glyphicon glyphicon-remove"></span></button>

                        </div>
                        <!--<div class="col-sm-3">
                            <div class="input-group">
                                <input type="text" placeholder="请输入关键词" class="input-sm form-control">
                <span class="input-group-btn">
                <button type="button" class="btn btn-sm btn-primary"> 搜索</button>
                </span> </div>
                        </div>-->
                    </div>
                    <!--操作end-->
                    <div style="height:10px;"></div>
                    <!--搜索start-->
                 <!-- <div class="table-responsive">
                        <form  class="form-horizontal">
                            <table class="table table-striped table1">
                                <thead>
                                <tr>

                                    <th>字段名</th>
                                    <th>字段定义</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>

                                    <td><input type="text" value="<?php echo $_GET['name'];?>" name="name" class="form-control" placeholder="字段名" style="width:200px" /></td>
                                    <td><input type="text" value="<?php echo $_GET['field'];?>" name="field" class="form-control" placeholder="字段定义" style="width:200px" /></td>
                                    <td><button type="submit" class="btn btn-w-m btn-primary">确定</button></td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>-->
                    <!--搜索end-->
                    <div style="height:10px;"></div>
                    <div class="table-responsive">
                        <table class="table table-striped" style="border:1px solid #e7eaec">
                            <thead>
                            <tr>
                                <th width="30"><input type="checkbox" class="i-checks i-checksAll" name="input[]"></th>
                                <th>ID</th>
                                <th>所属接口</th>
                                <th>类型</th>
                                <th>变量名</th>
                                <th>排序</th>
                                <th >操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php foreach($list as $row):?>
                            <tr>
                                <td><input type="checkbox" value="{$row['id']}" class="i-checks" name="input[]"></td>
                                <td>{$row['id']}</td>
                                <td>{$row['face_name']}({$row['face_title']})</td>
                                <td>{$row['type']==1?'自定义逻辑':($row['type']==2?'查询全部':($row['type']==3?'添加':($row['type']==4?'修改':($row['type']==5?'查询一条':($row['type']==6?'查询分页':'')))))}</td>
                                <td>{$row['bianlian_name']}</td>
                                <td>{$row['sort']}</td>

                                <td><a href="{:url('edit',array('action'=>'edit','id'=>$row['id']))}">编辑</a>&nbsp;&nbsp;&nbsp;

                                    &nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" onclick="sendGetAjax('{:url('delete',array('id'=>$row['id']))}')">删除</a></td>
                            </tr>
                            <?php endforeach;?>

                            </tbody>
                        </table>
                    </div>
                    <?php echo $_p;?>
                    <div style="clear:both"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        qls.cascade('slecteds','area','parent_id',0,{"name":'area_name',"id":"area_id"},'15,16');
    })
</script>