html,body{width: 100%;}
.wxmall-index-content{margin-top: 0;padding-bottom: 49px;}
.wxmall-index-content-goods-img{margin-top: -15px;}
.wxmall-index-content-goods-img img{width: 79px;height:80px;border: 1px solid #cccccc; border-radius: 5px;margin:0 15px;}
.wxmall-index-content-goods-msg{margin-top: 17.5px;}
.wxmall-index-content-goods-name{font-size: 15px;line-height: normal;color: #333333;}
.wxmall-index-content-goods-price{color:#999999;font-size: 12px;margin-top: 10px;line-height: normal;}
.wxmall-index-content-goods-price span{color:#ff2929;font-size: 20px;margin-right: 5px;}
.wxmall-index-content-goods-market-price{color: #666666;font-size: 12px;line-height: normal;margin-top: 5px;}
.wxmall-index-content-goods-stock{font-size: 12px;color: #999999;margin-top: 7.5px;}
.wxmall-index-content-goods-buy{position: relative;float: right;margin-right: 15px;margin-top: -29px;}
.wxmall-index-content-goods-buy span{color: #ffffff;background: #f84e25;border-radius: 6px;font-size: 15px;width: 70px;height: 27.5px;line-height: 27.5px;text-align: center;display: block;}
.wxmall-index-content-goods{border-bottom: 1px solid #a0a0a0;padding:0;padding-bottom: 6px;}
.footerbutton2{position: fixed;bottom:0;width: 100%;}
.footerbutton2 button{width: 50%;float: left;font-size: 20px;color: #ffffff;height: 49px;line-height: 49px;border: 0;}
.footerbutton2 button img{margin-right: 10px;width: 20px;}
.weui-dialog{max-width: 80%;background: #fafafa;}
.weui-dialog__title{font-size: 17px;color: #333333;}
.weui-dialog__bd{font-size: 16px;color: #666666;}
.weui-dialog__bd span{font-size: 17px;color: #e41a13;}
.weui-dialog__btn{height: 47px;font-size: 15px;line-height: 47px;}
.weui-dialog .weui-dialog__btn.default, .weui-toast .weui-dialog__btn.default{background: #ffffff;color: #666666;}
.weui-dialog .weui-dialog__btn+.weui-dialog__btn, .weui-toast .weui-dialog__btn+.weui-dialog__btn{background: #fd5452;color: #ffffff;}

.footerbutton1{position: fixed;bottom:0;width: 100%;}
.footerbutton1 button{height: 47px;line-height: 47px;font-size: 17px;color: #ffffff;background: #f84e25;width: 100%;border: 0;}
.goods-detail-detail{padding: 10px 15px;}
.goods-detail-detail-title{padding-bottom: 10px;color: #333333;font-size: 15px;border-bottom: 2px solid #8a8a8a;}
.goods-detail-detail-img{padding: 10px 0 37px;border-top: 1px solid #cccccc;margin-top: 10px;}
.goods-detail-detail-img img{width: 100%;}

.my-index-header{width: 100%;height: 150px;background: url(../../img/integral_shop/Img_bg.jpg);background-size:100% 150px;}
.my-logo{float: left;width:59px;height:59px;margin: 20px 0 0 15px;}
.my-logo img{width:59px;height:59px;border-radius: 29.5px;}
.my-index-name{font-size: 17px;color: #ffffff;}
.my-index-integral{font-size: 12px;color: #ffffff;margin-top: 5px;}

.exchange-msg{margin-top: 10px;background: #ffffff;}
.exchange-shop{padding: 15px 15px 10px;border-bottom: 1px solid #d0d0d0;}
.exchange-shop-name{float: left;}
.exchange-shop-name img{width: 20px;}
.exchange-record-receipt-status{float: right;font-size: 14px;color: #f94d25;}
.exchange-record-order-num{font-size: 13px;color: #666666;margin-top: 3px;}
.exchange-date{font-size: 12px;color: #999999;text-align: right;margin-top: 5px;}
.exchange-record-goods-num{font-size: 14px;margin-top: 12px;color: #333333;}
.exchange-record-integral-num{font-size: 14px;margin-top: 10px;color: #333333;text-align: right;}
.exchange-record-integral-num span{color: #ff2828;font-size: 16px;}
.exchange-record-qrCode{width: 90px;height: 30px;float: right;background: #f74e25;color: #ffffff;font-size: 14px;border: 0;border-radius: 4px;}

.all-consumption{padding: 15px;background: #ffffff;}
.all-consumption-num{text-align: right;font-size: 15px;color: #333333;}
.all-consumption-num span{font-size: 17px;color: #ff2828;}
.buygoods{padding: 15px 15px 16.5px;}
.buygoods:last-child{border-bottom: 0;}
.all-consumption-time{font-size: 13px;margin-top: 5px;color: #666666;text-align: right;}

.qrcord{width: 148px;height: 148px;margin: auto;margin-top: 122.5px;}
.qrcord-title{margin-top: 10px;font-size: 17px;color: #333333;text-align: center;}
.qrcord-code{margin-top: 10px;font-size: 12px;color: #333333;text-align: center;}
.qrcord-receipt-status{margin: auto;margin-top: 15px;width: 100px;height: 25px;font-size: 12px;line-height: 25px;color: #f94d25;border: 1px solid #f94d25;text-align: center;}