
    <div class="col-sm-12">
        <div class="ibox float-e-margins">


            <div class="ibox-content timeline">
                <?php foreach($dirArray as $row):?>
                <div class="timeline-item">
                    <div class="row">
                        <div class="col-xs-3 date">
                            <i class="fa fa-file-text"></i> <?php echo date('Y-m-d H:i:s',strtotime($row));?>
                            <br>
                            <!--<small class="text-navy">3小时前</small>-->
                        </div>
                        <div class="col-xs-7 content">
                            <p class="m-b-xs"><strong>数据库备份{$row}</strong>
                            </p>
                            <p> {$bz[$row]}</p>
                            <a href="{:url('downloaddatabase',array('name'=>$row))}" class="btn btn-success btn-rounded">下载
                                        </a>
                            <a href="javascript:void(0);" onclick="restore('<?php echo $row;?>')" class="btn btn-warning btn-rounded">还原
                            </a>
<a href="javascript:void(0);" onclick="sendGetAjax('<?php echo url('deletedatabase',array('name'=>$row));?>')" class="btn btn-danger btn-rounded">删除
                                        </a>

                        </div>
                    </div>
                </div>
                <?php endforeach;?>
            </div>
        </div>
    </div>

    <script>

        function closemodal(str)
        {
            $('#'+str).remove();
        }
        function restore(name)
        {
            var url='<?php echo url('restore');?>?name='+name;
            closemodal('myModal5');
            showlogdel(url);
        }
        function showlogdel(url)
        {
            var html='<div class="modal inmodal fade in" id="myModal5" tabindex="-1" role="dialog" aria-hidden="true" style="display: block;    background-color: rgba(0,0,0,0.4);"> ' +
                    '<div class="modal-dialog modal-lg" style="margin-top: -369px;"> ' +
                    '<div class="modal-content"> ' +
                    '<div class="modal-header"> ' +
                    '<button type="button" class="close" data-dismiss="modal" onclick="closemodal('+"'"+'myModal5'+"'"+')"><span aria-hidden="true">×</span>' +
                    '<span class="sr-only">Close</span></button> ' +
                    '<h4 class="modal-title">正在执行sql导出</h4> ' +
                    '</div><small class="font-bold"> ' +
                    '<div class="modal-body"> ' +
                    '<iframe frameborder="0" width="100%" height="100%" src="'+url+'"></iframe> ' +
                    '</div> ' +
                    '<div class="modal-footer"> ' +
                    '<button type="button" class="btn btn-white" onclick="closemodal('+"'"+'myModal5'+"'"+')" data-dismiss="modal">关闭</button> ' +
                    '<!--<button type="button" class="btn btn-primary">保存</button>--> ' +
                    '</div> ' +
                    '</small></div><small class="font-bold"> ' +
                    '</small></div><small class="font-bold"> ' +
                    '</small></div>';
            $('body').append(html);
            $('#myModal5 .modal-dialog').animate({'margin-top':'30px'},200);
        }
    </script>